body{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  background-color: #FFD523;
  min-height: 96vh;
}
#game > div{
  border: 2px solid #FF7600;
  width: 200px;
  height: 200px;
  margin: 10px;
  display: inline-block;
  border-radius: 5px;
} 
#game > div:hover, #btn:hover{
  transform: scale(1.12);
}
#btn{
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  width: 200px;
  max-width: 200px;
  border-radius: 5px;
  border: none;
  font-family: 'Press Start 2P', cursive;
  color: #FF7600;
  background-color: #3D56B2;
}
#score {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 1.5rem;
  margin-top: 1rem;
  color: #3D56B2;
  border-radius: 5px;
  background-color: #FF7600;
  width: fit-content;
}
#game {
  background-color: #3D56B2;
  width: 75%;
  padding: 2rem;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 5rem;
}
h1{
  padding: 2rem;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 5rem;
  color: #3D56B2;
  display: inline-block;
  background-color: #FF7600;
  width: fit-content;
}
.hidden {
  display: none;
}
#bestScoreDiv {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  color: #3D56B2;
  padding: 2rem;
  border-radius: 5px;
  background-color: #FF7600;
  width: fit-content;
}
#message {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  padding: 1rem;
  margin-top: 1rem;
  color: #3D56B2;
  padding: 2rem;
  border-radius: 5px;
  background-color: #FF7600;
  width: fit-content;
}
.difficulty {
  display: inline-block;
  margin: 0 auto;
  padding: .5rem;
  margin-top: 1rem;
  font-size: .8rem;
  border: none;
  color: #3D56B2;
  font-weight: 300;
}
select {
  background-color: #FF7600;
  width: 95px;
  border-radius: 5px;
  font-family: 'Press Start 2P', cursive;
  outline: none;
}
option{
  font-size: 0.75rem;
}
#modal{
  border: 4px solid #FFD523;
  border-radius: 10px;
  color: #3D56B2;
  font-size: 0.85rem;
  width: 20%;
  margin: 0 auto;
  padding: 2rem;
  margin: 2rem;
  background-color: #FF7600;
  position: absolute;
  right: 36.3%;
  display: none;
  z-index: 1;
}
.reBtn{
  font-size: 1rem;
  padding: 10px 20px;
  margin: 5px;
  color: #3D56B2;
  background-color: #FFD523;
  border: none;
  border-radius: 5px;
  font-weight: 800;
}
.reBtn:hover{
  transform: scale(1.1);
  background-color: #fcefce;
}
@media(max-width: 800px){
  #game > div{
    border: 2px solid #FF7600;
    width: 100px;
    height: 100px;
    margin: 10px 5px;
    display: inline-block;
    border-radius: 5px;
  } 

  #game {
    width: 70%;
    padding: 3px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #score{
    font-size: 1.2rem;
    padding: 1.5rem;
  }
  h1 {
    line-height: 3rem;
    padding: 1rem;
  }
  #btn{
    margin-top: 1rem;
    font-size: 0.75rem;
    padding: 1rem;
  }
  #bestScoreDiv {
    margin-top: 1rem;
  }
}
@media(max-width: 500px){
  #game > div{
    border: 2px solid #FF7600;
    width: 80px;
    height: 80px;
    margin: 5px 5px;
    display: inline-block;
    border-radius: 5px;
  } 

  #game {
    width: 80%;
    padding: 3px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #score{
    font-size: 1.2rem;
    padding: 1.5rem;
  }
  h1 {
    line-height: 3rem;
    padding: 1rem;
  }
  #btn{
    margin-top: 1rem;
    font-size: 0.75rem;
    padding: 1rem 1rem;
  }
  #bestScoreDiv {
    margin-top: 1rem;
  }
  #modal{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    background-color: #FFD523;
    border-radius: 10px;
    color: #3D56B2;
    font-size: 0.85rem;
    width: 50%;
    padding: 2rem;
    margin: 2rem;
    background-color: #FF7600;
    position: absolute;
    right: 8%;
    display: none;
  }
}
